.login{
    background-image: url(../images/Tea-Garden_Munnar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    
}

.login_form{
    width: 50%;
    margin-top: 5%;
    margin-left: 20%;
}

.signUp{
    background-image: url(../images/signup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    padding: 100px;
    text-align: center;
}
.jumbotron{
    height: 80vh;
}

